.footer {
  background-color: #ad3333;
  color: #DADADA;
  padding: 10px 20px;
  text-align: left;
  font-size: 14px;
  position: relative; /* Cambiado a relative */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: auto;
  box-sizing: border-box;
}

.footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 0 10px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer .contact-info p {
  margin: 0 auto;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 1.2;
  max-width: 800px;
}

.footer a {
  color: #DADADA;
  text-decoration: none;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.footer a:hover {
  color: #6bbcf2;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.footer .footer-content img {
  width: 30px;
  height: auto;
}

.footer .social-icons {
  display: flex;
  gap: 15px;
}

.footer .social-icons a {
  color: #DADADA;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

.footer .social-icons a:hover {
  color: #6bbcf2;
}