.logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.logo-img {
  width: 4rem; /* Ajuste por defecto */
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.logo-img:hover {
  transform: scale(1.1); /* Efecto de crecimiento al pasar el mouse */
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .logo-img {
    width: 3.5rem; /* Reduce tamaño en pantallas pequeñas */
  }
}

@media (max-width: 480px) {
  .logo-img {
    width: 3rem; /* Tamaño aún más pequeño en móviles */
  }
}

  