.title-container {
  font-size: 20px; /* Reduce el tamaño del título */
  font-weight: bold; /* Asegura que se vea destacado */
  text-align: center;
    margin: 20px 0;
  }
  
  .main-title {
    font-size: 2.5rem;
    color: #333;
    margin: 0;
  }
  
  .subtitle {
    font-size: 1.5rem;
    color: #777;
    margin: 5px 0 0;
  }

  
  .description {
    font-size: 1.5rem;
    color: #777;
    margin: 5px 0 0;
  }
  