.title3 {
    font-size: 2rem; /* Ajusta este tamaño según tus necesidades */
    margin-top: 1rem;                /* Distancia del banner */
    font-weight: bold;
    color: rgba(23, 63, 95); /* Blanco con algo de transparencia */
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */  
    border: 4px solid #173F5F; /* Borde azul medio */
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados para darle un toque moderno */
    background-color: rgba(218, 218, 218, 0.1); /* Fondo con transparencia */
    display: inline-block; /* Ajusta el tamaño del borde al contenido */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Suaviza animaciones */
    
  }
  
  @media (max-width: 768px) {
    .title3 {
      font-size: 1.7rem;
    }
  }
  
  @media (max-width: 480px) {
    .title3 {
      font-size: 1.3rem;
    }
  }
