.certification-facultad-bar-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.certification-table {
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
  border-collapse: collapse;
  text-align: left;
}

.certification-table th,
.certification-table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.certification-table th {
  background-color: #0073e6;
  color: white;
}

.certification-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}


  