.info-card-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  /* Media query para pantallas más pequeñas (móviles) */
  @media (max-width: 768px) {
    .info-card-list {
      flex-direction: column; /* Cambia la dirección a columna */
      align-items: center; /* Alinea las tarjetas al centro */
    }
  }