.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #da3333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6rem + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title-container {
  text-align: center; /* Asegura que el contenedor esté centrado */
}

.title-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row; /* Asegura que los elementos se alineen en una fila */
  margin-top: 7rem;    /* Distancia del banner */
}

.title-logo {
  margin-right: 2rem; /* margen */
  height: 8rem; /* tamaño de la imagen */
  display: inline-block; /* Asegura que la imagen se alinee correctamente */
  vertical-align: middle; /* Alinea verticalmente la imagen */
}

.title-container h1 {
  text-align: center;
  font-size: 5rem; /* Ajusta este tamaño según tus necesidades */  
  font-weight: bold;
  color: rgba(218, 51, 51, 0.8); /* Blanco con algo de transparencia */
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */  
  border: 4px solid rgba(173, 51, 51, 0.1); /* Borde rojo oscuro con 50% de opacidad */
  padding: 20px;
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 0 20px rgba(173, 51, 51, 0.1); /* Sombra alrededor del borde */
  background-color: rgba(218, 218, 218, 0.1); /* Fondo con transparencia */
  display: inline-block; /* Ajusta el tamaño del borde al contenido */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Suaviza animaciones */
}

/* Efecto hover para que sea más interactivo */
.title-container h1:hover {
  transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el mouse */
  box-shadow: 0 0 30px rgba(173, 51, 51, 03); /* Sombra más intensa */
}

.title-container h2 {
  font-size: 1.8rem; /* Ajusta este tamaño según tus necesidades */
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: transparent; /* Hace el color de fondo del texto transparente */
  background-image: linear-gradient(45deg, rgba(218, 51, 51, 0.9), rgba(173, 51, 51, 0.7));
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra ligera */
  margin-top: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto hover para que sea más interactivo */
/*.title-container h2:hover {
  transform: scale(1.01);  Ligeramente más grande
}*/

.title-container h3 {
  font-size: 1.5rem;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  color: rgba(218, 51, 51, 0.7); /* Color similar al de h2 pero más suave */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-top: 0.5rem;
}














